In [43]:
import pandas as pd 
import numpy as np
import seaborn as sb
import os
import glob

In [8]:
!ls ../

Heroku_Django_                   SLMPD-CRIME-STATS
Marketing Schedules VBA 1.0.xlsx The-Flask-Mega-Tutorial-
Marketing Schedules VBA.xlsx     WASHSTL201809DATA3

In [109]:
#get current working directory 
cwd = os.getcwd()
print(cwd)

/Users/emanshupatel/Desktop/crime_data

In [129]:
#change directory to file location
os.chdir('../../Desktop/crime_data/')
print(cwd)

/Users/emanshupatel/Desktop/crime_data

In [114]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [125]:
df = pd.DataFrame()

for file in all_filenames:
    x = pd.read_csv(file, encoding= 'unicode_escape')
    df = df.append(x)

In [128]:
df.head()
df.describe()

,Count,Crime,District,Neighborhood,XCoord,YCoord
count,293633.000000,293633.000000,293633.000000,293633.000000,293633.000000,2.936330e+05
mean,0.963540,102129.187080,4.663195,39.346446,878862.299912,1.002293e+06
std,0.267567,66994.165459,2.584574,23.251540,114124.475622,1.307289e+05
min,-1.000000,10000.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,1.000000,63701.000000,3.000000,17.000000,887710.900000,1.005723e+06
50%,1.000000,71013.000000,4.000000,37.000000,893357.400000,1.018822e+06
75%,1.000000,142320.000000,7.000000,59.000000,899038.800000,1.030280e+06
max,1.000000,266999.000000,9.000000,88.000000,923707.100000,1.117797e+06